.color-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.color-item[aria-disabled="true"] {
  opacity: 0.25;
}

.color-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.color-item:active,
.color-item[data-active] {
  background-color: hsl(204 100% 32%);
}
